article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block
}






html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

button,
html,
input,
select,
textarea {
    font-family: Georgia, "Times New Roman", Times, serif
}

body {
    margin: 0
}

a,
a:link,
a:visited {
    color: #09C;
    text-decoration: none
}

a:link:hover,
a:visited:hover {
    color: #069
}

a:active,
a:hover {
    outline: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

h2 {
    font-size: 1.8em;
    margin: .83em 0
}

h3 {
    font-size: 1.17em;
    margin: 1em 0
}

h4 {
    font-size: 1.1em;
    margin: 1.33em 0
}

h5 {
    font-size: 1em;
    margin: 1.67em 0
}




p,
pre {
    margin: 1.2em 0
}




h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child,
p:first-child {
    margin-top: 0
}

dl,
menu,
ol,
ul {
    margin: 1em 0
}


menu,
ol,
ul {
    padding: 0 0 0 40px
}

nav ol,
nav ul {
    list-style: none;
    list-style-image: none
}

img {
    border: 0;
    -ms-interpolation-mode: bicubic
}



iframe {
    border: 0
}

figure,
form {
    margin: 0
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}



button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle
}

button,
input {
    line-height: normal
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    *overflow: visible
}



textarea {
    overflow: auto;
    vertical-align: top
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


.row {
    margin-left: -20px;
    *zoom: 1
}

.row:after,
.row:before {
    display: table;
    content: "";
    line-height: 0
}

.row:after {
    clear: both
}

[class*=span] {
    float: left;
    margin-left: 20px
}

.container,
.navbar-fixed-bottom .container,
.navbar-fixed-top .container,
.navbar-static-top .container,
.span12 {
    width: 940px
}


.span7 {
    width: 540px
}

.span6 {
    width: 460px
}

.span5 {
    width: 380px
}

.span4 {
    width: 300px
}

.span3 {
    width: 220px
}

.offset1 {
    margin-left: 100px
}


@media (max-width:767px) {

    .navbar-fixed-bottom,
    .navbar-fixed-top {
        margin-left: -20px;
        margin-right: -20px
    }

    .container-fluid {
        padding: 0
    }

    .dl-horizontal dt {
        float: none;
        clear: none;
        width: auto;
        text-align: left
    }

    .dl-horizontal dd {
        margin-left: 0
    }

    .container {
        width: auto
    }

    .row-fluid {
        width: 100%
    }

    .row,
    .thumbnails {
        margin-left: 0
    }

    .thumbnails>li {
        float: none;
        margin-left: 0
    }

   

    .input-large,
    .input-xlarge,
    .input-xxlarge,
    .uneditable-input,
    input[class*=span],
    select[class*=span],
    textarea[class*=span] {
        display: block;
        width: 100%;
        min-height: 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }

    .input-append input,
    .input-append input[class*=span],
    .input-prepend input,
    .input-prepend input[class*=span] {
        display: inline-block;
        width: auto
    }

    .modal {
        position: fixed;
        top: 20px;
        left: 20px;
        right: 20px;
        width: auto;
        margin: 0
    }

    .modal.fade.in {
        top: auto
    }
}

@media (max-width:480px) {
    .nav-collapse {
        -webkit-transform: translate3d(0, 0, 0)
    }

    .page-header h1 small {
        display: block;
        line-height: 20px
    }

    input[type=checkbox],
    input[type=radio] {
        border: 1px solid #ccc
    }

    .form-horizontal .control-group>label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left
    }

    .form-horizontal .controls {
        margin-left: 0
    }

    .form-horizontal .control-list {
        padding-top: 0
    }

    .form-horizontal .form-actions {
        padding-left: 10px;
        padding-right: 10px
    }

    .modal {
        top: 10px;
        left: 10px;
        right: 10px
    }

    .modal-header .close {
        padding: 10px;
        margin: -10px
    }

    .carousel-caption {
        position: static
    }
}

@media (min-width:768px) and (max-width:979px) {
    .row {
        margin-left: -20px;
        *zoom: 1
    }

    .row:after,
    .row:before {
        display: table;
        content: "";
        line-height: 0
    }

    .row:after {
        clear: both
    }

    [class*=span] {
        float: left;
        margin-left: 20px
    }

    .container,
    .navbar-fixed-bottom .container,
    .navbar-fixed-top .container,
    .navbar-static-top .container,
    .span12 {
        width: 724px
    }

    .span11 {
        width: 662px
    }

    .span10 {
        width: 600px
    }

    .span9 {
        width: 538px
    }

    .span8 {
        width: 476px
    }

    .span7 {
        width: 414px
    }

    .span6 {
        width: 352px
    }

    .span5 {
        width: 290px
    }

    .span4 {
        width: 228px
    }

    .span3 {
        width: 166px
    }

    .span2 {
        width: 104px
    }

    .span1 {
        width: 42px
    }

    .offset12 {
        margin-left: 764px
    }

    .offset11 {
        margin-left: 702px
    }

    .offset10 {
        margin-left: 640px
    }

    .offset9 {
        margin-left: 578px
    }

    .offset8 {
        margin-left: 516px
    }

    .offset7 {
        margin-left: 454px
    }

    .offset6 {
        margin-left: 392px
    }

    .offset5 {
        margin-left: 330px
    }

    .offset4 {
        margin-left: 268px
    }

    .offset3 {
        margin-left: 206px
    }

    .offset2 {
        margin-left: 144px
    }

    .offset1 {
        margin-left: 82px
    }


    .uneditable-input,
    input,
    textarea {
        margin-left: 0
    }

    .controls-row [class*=span]+[class*=span] {
        margin-left: 20px
    }

    .uneditable-input.span12,
    input.span12,
    textarea.span12 {
        width: 710px
    }

    .uneditable-input.span11,
    input.span11,
    textarea.span11 {
        width: 648px
    }

    .uneditable-input.span10,
    input.span10,
    textarea.span10 {
        width: 586px
    }

    .uneditable-input.span9,
    input.span9,
    textarea.span9 {
        width: 524px
    }

    .uneditable-input.span8,
    input.span8,
    textarea.span8 {
        width: 462px
    }

    .uneditable-input.span7,
    input.span7,
    textarea.span7 {
        width: 400px
    }

    .uneditable-input.span6,
    input.span6,
    textarea.span6 {
        width: 338px
    }

    .uneditable-input.span5,
    input.span5,
    textarea.span5 {
        width: 276px
    }

    .uneditable-input.span4,
    input.span4,
    textarea.span4 {
        width: 214px
    }

    .uneditable-input.span3,
    input.span3,
    textarea.span3 {
        width: 152px
    }

    .uneditable-input.span2,
    input.span2,
    textarea.span2 {
        width: 90px
    }

    .uneditable-input.span1,
    input.span1,
    textarea.span1 {
        width: 28px
    }
}

@media (min-width:1200px) {
    .row {
        margin-left: -30px;
        *zoom: 1
    }

    .row:after,
    .row:before {
        display: table;
        content: "";
        line-height: 0
    }

    .row:after {
        clear: both
    }

    [class*=span] {
        float: left;
        margin-left: 30px
    }

    .container,
    .navbar-fixed-bottom .container,
    .navbar-fixed-top .container,
    .navbar-static-top .container,
    .span12 {
        width: 1170px
    }


    .span7 {
        width: 670px
    }

    .span6 {
        width: 570px
    }

    .span5 {
        width: 470px
    }

    .span4 {
        width: 370px
    }

    .span3 {
        width: 270px
    }

    

    .offset1 {
        margin-left: 130px
    }

    .row-fluid {
        width: 100%;
        *zoom: 1
    }

    .row-fluid:after,
    .row-fluid:before {
        display: table;
        content: "";
        line-height: 0
    }

    .row-fluid:after {
        clear: both
    }

   

    .uneditable-input,
    input,
    textarea {
        margin-left: 0
    }

   
}


.te-transition {
    z-index: 100;
    width: 100%
}

.te-cover {
    position: relative;
    top: 0;
    z-index: 1;
    cursor: pointer
}

.te-cover.te-hide,
.te-images,
.te-transition {
    display: none
}




.te-transition {
    position: relative;
    top: 0;
    left: 0
}



body,
html {
    width: 100%;
    height: 100%
}

body {
    overflow-x: hidden
}

html:not(.safe-mod) body {
    -webkit-user-select: none;
    -webkit-text-size-adjust: none
}

html:not(.safe-mod) body .p-overlay {
    -webkit-user-select: auto
}

.no-overflow body {
    overflow: hidden
}

ol,
p,
ul {
    font-size: .875em;
    line-height: 160%
}

img {
    width: auto;
    max-width: 100%;
    height: auto
}

a:focus {
    outline: 0
}

ul {
    list-style: square
}

#fancybox-close,
.btn,
.button,
.easing,
.media-box .mask,
.social li a,
button,
html input[type=button],
input,
input[type=reset],
input[type=submit],
textarea {
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out
}


.wrapper {
    position: relative;
    width: 940px;
    margin: 0 auto
}

h2.caption {
    margin: 40px 0 20px;
    font-weight: 400
}

h2.caption span {
    display: inline-block;
    position: relative;
    padding: 5px 10px 5px 16px;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

h2.caption span:after {
    content: "";
    position: absolute;
    bottom: -.5em;
    left: 0;
    border-left-width: .5em;
    border-left-style: solid;
    border-bottom: .5em solid transparent
}

#pages {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.page {
    height: 500px
}

.iscroll-wrapper {
    position: absolute;
    z-index: 1;
    top: 110px;
    bottom: -40px;
    left: 0;
    width: 102%;
    overflow: auto
}

.scroller {
    position: absolute;
    z-index: 1;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 0;
    cursor: default
}

.iscrollbarV {
    position: absolute;
    width: 5px;
    bottom: 7px;
    top: 2px;
    right: 1px;
    z-index: 2
}

.iscrollbarV>div {
    position: absolute;
    z-index: 100;
    width: 100%;
    background: #000;
    background: rgba(0, 0, 0, .2);
    filter: "alpha(opacity=20)";
    -ms-filter: "alpha(opacity=20)";
    -webkit-border-radius: 10px;
    border-radius: 10px
}

#header {
    position: relative;
    z-index: 1000;
    width: 100%;
    padding-top: 30px
}

#header .wrapper {
    height: 100%
}

#header .title {
    margin-left: 30px;
    float: left
}

#header .title h1 {
    margin: 2px 0 0;
    font-weight: 600
}

#header .title p {
    margin: 0;
    font-style: italic;
    font-size: .9em
}

#header nav {
    position: relative;
    float: left;
    z-index: 1100
}

#header nav ul {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    font-size: 1em
}

#header nav ul li {
    float: left
}

#header nav ul:after,
#header nav ul:before {
    margin-top: .5em;
    content: "";
    float: left;
    border-width: 1.5em;
    border-style: solid
}

#header nav ul:after {
    border-right-color: transparent !important
}

#header nav ul:before {
    border-left-color: transparent !important
}

#header nav ul a:link,
#header nav ul a:visited {
    text-decoration: none;
    float: left;
    height: 3.5em;
    overflow: hidden
}

#header nav ul span {
    display: inline-block;
    line-height: 3em;
    padding: 0 1em;
    margin-top: .5em;
    position: relative;
    -webkit-transition: background-color .2s, margin-top .2s;
    -moz-transition: background-color .2s, margin-top .2s;
    -ms-transition: background-color .2s, margin-top .2s;
    -o-transition: background-color .2s, margin-top .2s;
    transition: background-color .2s, margin-top .2s
}

#header nav ul a.waiting span,
#header nav ul a:hover span {
    margin-top: 4px
}

#header nav ul .current-menu-item a:hover span,
#header nav ul .current-menu-item span {
    margin-top: 0
}

#header nav ul span:after,
#header nav ul span:before {
    content: "";
    position: absolute;
    top: 3em;
    border-bottom-width: .5em;
    border-bottom-style: solid
}

#header nav ul span:before {
    left: 0;
    border-right-width: .5em;
    border-right-style: solid
}

#header nav ul span:after {
    right: 0;
    border-left-width: .5em;
    border-left-style: solid
}

.mobile-nav {
    display: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    opacity: 0;
    position: absolute;
    z-index: 1100;
    top: 0;
    right: 0;
    cursor: pointer
}

#header nav:after {
    display: none;
    content: "+";
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    z-index: 1001
}

span.label {
    display: inline-block;
    padding: 2px 6px
}

span.label.primary {
    
    padding: 0px 0px 3px 0px;
    border-width: 0 0 3px;
    border-style: solid;
}

.profile-image {
    margin-bottom: 20px
}

ul.personal-info {
    margin-top: 0;
    padding-left: 0;
    list-style: none
}

ul.personal-info li {
    margin-bottom: 10px
}

ul.personal-info .title {
    display: inline-block;
    padding: 2px 8px;
    position: relative;
    font-size: 90%;
    border-left: 1px solid rgba(0, 0, 0, .1)
}

ul.personal-info .title:after {
    content: "";
    position: absolute;
    top: 0;
    right: -.5em;
    border-left-width: .5em;
    border-left-style: solid;
    border-bottom: .5em solid transparent
}

ul.personal-info .value {
    margin-left: 15px;
    font-style: italic
}

.map {
    margin-bottom: 30px
}

.map iframe {
    width: 100%;
    border-width: 0 0 0 5px;
    border-style: solid;
    outline: 0;
    height: 360px
}

#contact-form fieldset {
    border: 0;
    padding: 0
}

input,
textarea {
    display: block;
    width: 50%;
    min-width: 300px;
    padding: 10px 14px;
    border: 0;
    border-radius: 0;
    outline: 0;
    background: #f7f7f7;
    border-width: 0 0 2px;
    border-style: solid;
    border-color: transparent
}

textarea {
    height: 100px
}

.btn,
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    display: inline-block;
    outline: 0;
    border: 0;
    border-width: 0 0 0 4px;
    border-style: solid;
    border-color: transparent;
    padding: 10px 40px
}

.btn {
    font-size: .9em
}

label.error {
    display: none !important
}

.btn-send {
    margin-top: 2px
}

.submit-area {
    position: relative
}

.submit-area .icon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 4em;
    line-height: 60%;
    color: #396;
    text-shadow: -2px -1px 0 rgba(255, 255, 255, .5), -3px -2px 0 rgba(0, 0, 0, .2)
}

.submit-area.success .icon {
    display: block
}

ul.personal-info.contact-form li {
    margin-bottom: 14px
}

ul.personal-info.contact-form .title {
    border-left: 0;
    border-top: 1px solid rgba(0, 0, 0, .1)
}

ul.personal-info.contact-form .title:after {
    top: auto;
    bottom: -.5em;
    left: 0;
    right: auto
}

.history-unit {
    padding-left: 20px;
    margin-bottom: 30px;
    border-width: 0 0 0 1px;
    border-style: solid
}

.history-unit h4 {
    margin-bottom: 0;
    font-weight: 400
}

.history-unit h4 .work-time {
    float: right;
    font-size: .9em;
    border-width: 0 0 2px;
    border-style: solid
}

.history-unit h5 {
    margin: .4em 0 1em;
    font-weight: 400;
    font-size: .9em;
    padding-left: 9px;
    border-width: 0 0 0 5px;
    border-style: solid
}

.history-unit h5 span {
    padding: 3px 6px
}

.bar {
    position: relative;
    width: 96%
}

.bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%
}

.cv {
    margin: 3em 0
}


.p-overlay {
    display: none;
    position: absolute;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow: auto
}


@font-face {
    font-family: JustVectorRegular;
    font-weight: 400;
    font-style: normal;
    src: url(fonts/justvector/justvector-webfont.eot);
    src: url(fonts/justvector/justvector-webfont.eot?#iefix) format('eot'), url(fonts/justvector/justvector-webfont.woff) format('woff'), url(fonts/justvector/justvector-webfont.ttf) format('truetype'), url(fonts/justvector/justvector-webfont.svg#webfontmuk63VQd) format('svg')
}

.social {
    padding: 0;
    list-style: none
}

.social li {
    display: inline-block;
    margin-bottom: -3px
}

.social li a {
    display: block;
    float: left;
    line-height: 90%;
    font-family: JustVectorRegular;
    font-size: 3em;
    padding: .2em .2em .15em
}

.social li a:hover {
    background-color: #000
}

.social li a.facebook:hover {
    background-color: #3c5fac
}

.social li a.twitter:hover {
    background-color: #5ec3df
}



.social li a.linkedin:hover {
    background-color: #2089b5
}








.safe-mod body {
    width: auto;
    height: auto
}

.safe-mod .page {
    height: auto;
    padding-bottom: 30px
}

.safe-mod .iscroll-wrapper {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    padding-top: 10px;
    overflow: visible
}

.safe-mod .scroller {
    position: relative;
    overflow: hidden
}

.safe-mod #pages {
    position: relative !important;
    height: auto
}

.safe-mod #header:after,
.safe-mod #header:before {
    content: " ";
    display: table
}

.safe-mod #header:after {
    clear: both
}

.safe-mod #header nav:after,
.safe-mod .mobile-nav {
    position: fixed;
    top: 0;
    right: 12px
}

@media screen and (min-width:1200px) {
    .wrapper {
        width: 1170px
    }
}

@media screen and (min-width:978px) and (max-height:600px) {
    #header {
        padding-top: 20px
    }

    .page {
        height: 360px
    }
}

@media screen and (min-width:978px) and (min-height:720px) {
    .page {
        height: 600px
    }
}

@media screen and (min-width:978px) and (min-height:900px) {
    #header {
        padding-top: 50px
    }

    .page {
        height: 740px
    }
}

@media screen and (min-width:978px) and (min-height:1000px) {
    .page {
        height: 800px
    }
}

@media screen and (max-width:978px) {
    .wrapper {
        width: 724px
    }

    #header {
        text-align: center
    }

    #header nav {
        float: none;
        padding-top: 80px
    }

    #header .title {
        float: none;
        position: absolute;
        width: 100%;
        top: 0;
        margin-left: 0
    }

    .portfolio-items .item {
        width: 220px
    }
}

@media screen and (max-width:978px) and (max-height:900px) {
    .page {
        height: 500px
    }

    .iscroll-wrapper {
        bottom: -140px
    }
}

@media screen and (max-width:978px) and (max-height:800px) {
    .page {
        height: 400px
    }
}

@media screen and (max-width:978px) and (max-height:700px) {
    .page {
        height: 300px
    }
}

@media screen and (max-width:978px) and (max-height:600px) {
    .page {
        height: 200px
    }
}

@media screen and (max-width:978px) and (min-height:900px) {
    #header {
        padding-top: 30px
    }

    .page {
        height: 600px
    }

    .iscroll-wrapper {
        bottom: -120px
    }

    .caption {
        margin-top: 50px
    }
}

@media screen and (max-width:767px) {
    .wrapper {
        width: 460px
    }

    #header {
        padding-top: 0;
        text-align: left
    }

    #header .title {
        padding-top: 30px
    }

    #header nav ul {
        display: none
    }

    #header nav:after,
    .mobile-nav {
        display: block
    }

    #header .title h1 {
        font-size: 1.4em
    }

    h2 {
        font-size: 1.2em
    }

    ul.personal-info {
        padding-top: 10px
    }

    input,
    textarea {
        min-width: 0;
        width: 90%
    }

    .portfolio-items {
        margin-left: -20px
    }

    .portfolio-items .item {
        width: 220px;
        margin-left: 20px;
        margin-bottom: 20px;
        font-size: 90%
    }

    .media-box:hover .mask {
        opacity: 0
    }

    .map iframe {
        height: 200px
    }

    .safe-mod h2.caption {
        margin-top: 0
    }

    

    .launch {
        text-align: center
    }

    .safe-mod #header .title {
        padding-top: 12px
    }

    .row-fluid [class*=span],[class*=span] {
        float: none;
        display: block;
        width: auto;
        margin-left: 0
    }
}

@media screen and (max-width:479px) {
    .wrapper {
        width: 286px
    }

    .portfolio-items {
        margin-left: -16px
    }

    .portfolio-items .item {
        width: 135px;
        margin-left: 16px;
        margin-bottom: 6px
    }

    .title img {
        max-width: 80%
    }
}

@media screen and (max-width:767px) and (max-height:900px) {
    .page {
        height: 700px
    }

    .iscroll-wrapper {
        top: 100px;
        bottom: -30px
    }
}

@media screen and (max-width:767px) and (max-height:800px) {
    .page {
        height: 600px
    }

    .iscroll-wrapper {
        top: 100px;
        bottom: -30px
    }
}

@media screen and (max-width:767px) and (max-height:700px) {
    #header .title {
        padding-top: 20px
    }

    .page {
        height: 500px
    }
}

@media screen and (max-width:767px) and (max-height:600px) {
    #header .title {
        padding-top: 6px
    }

    .page {
        height: 400px
    }

    .iscroll-wrapper {
        top: 90px;
        bottom: -15px
    }
}

@media screen and (max-width:767px) and (max-height:440px) {
    #header .title {
        padding-top: 0
    }

    .page {
        height: 300px
    }
}

@media screen and (max-width:767px) and (max-height:340px) {
    #header .title h1 {
        font-size: 1.2em
    }

    h2 {
        font-size: 1em
    }

    .page {
        height: 220px
    }

    .iscroll-wrapper {
        top: 80px;
        bottom: -5px
    }
}

@media screen and (max-width:767px) and (min-height:900px) {
    .page {
        height: 800px
    }

    .iscroll-wrapper {
        top: 100px;
        bottom: -40px
    }
}

#fancybox-title-float-main,
#header nav ul span,
.btn,
.p-overlay,
.portfolio-field h3,
.portfolio-items .item,
.portfolio-items .item h3.project-title,
.portfolio-title h2,
.social li a,
.tags a,
h2.caption span,
span.label,
ul.personal-info .title {
    text-shadow: none
}

::selection {
    text-shadow: none;
    color: #333;
    background: #FF6
}

::-moz-selection {
    text-shadow: none;
    color: #333;
    background: #FF6
}

body,
button,
html input[type=button],
input,
input[type=reset],
input[type=submit],
select,
textarea {
    font-family: Lora, Georgia, "Times New Roman", Times, serif
}

#filters li,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: x, serif
}


#header .title p,
.history-unit h5 {
    font-family: Georgia, "Times New Roman", Times, serif
}

body {
    background-color: #fff;
    color: #333
}

.p-overlay,
.portfolio-field h3,
.portfolio-items .item h3.project-title,
.portfolio-title h2,
.tags a,
h1,
h2,
h2.caption span,
h3,
h4,
h5,
h6,
ul.personal-info .title {
    color: #222
}

#filters a,
.history-unit h4 .work-time,
.history-unit h5,
.portfolio-items .category {
    color: #025f90
}

#header nav:after {
    color: #000
}

.history-unit h4 .work-time,
.history-unit h5 {
    border-color: #000
}

.bar {
    height: 20px;
    background: #f3f3f3
}

span.label.black {
    color: #fff;
    background-color: #000
}

input:focus,
textarea:focus {
    background-color: #fff
}

input.error,
textarea.error {
    border-bottom-color: #C30
}

.btn:hover,
button:hover,
html input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
    border-color: #000
}

.btn:active,
button:active,
html input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active {
    border-color: #333
}

.portfolio-items .item {
    background-color: #fff
}

#filters .current a {
    color: #000
}

.media-box:after {
    border-bottom-color: #fff
}

.media-box .mask {
    background: #000;
    background: rgba(0, 0, 0, .5)
}

.media-box .mask .title {
    color: #fff
}

.tags a:before {
    border-right-color: #ebebeb
}

.portfolio-nav .button,
.tags a {
    background: #ebebeb
}

.p-overlay,
.tags a:after {
    background: #fff
}

.portfolio-nav a.button {
    color: #777;
    text-shadow: 0 1px 0 #fff
}

#fancybox-close,
.fancy-ico {
    color: #fff
}

#fancybox-close {
    background: #C30
}

#fancybox-close:hover {
    background: #000
}

.loader {
    background: rgba(0, 0, 0, .8)
}

.social li a {
    background: #eee;
    background-color: rgba(0, 0, 0, .1);
    color: #333
}

.social li a:hover {
    color: #fff
}

.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s
}

@-webkit-keyframes flash {

    0%,
    100%,
    50% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

@-moz-keyframes flash {

    0%,
    100%,
    50% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

@-o-keyframes flash {

    0%,
    100%,
    50% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

@keyframes flash {

    0%,
    100%,
    50% {
        opacity: 1
    }

    25%,
    75% {
        opacity: 0
    }
}

.flash {
    -webkit-animation-name: flash;
    -moz-animation-name: flash;
    -o-animation-name: flash;
    animation-name: flash
}



@-webkit-keyframes shake {

    0%,
    100% {
        -webkit-transform: translateX(0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px)
    }

    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px)
    }
}

@-moz-keyframes shake {

    0%,
    100% {
        -moz-transform: translateX(0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -moz-transform: translateX(-10px)
    }

    20%,
    40%,
    60%,
    80% {
        -moz-transform: translateX(10px)
    }
}

@-o-keyframes shake {

    0%,
    100% {
        -o-transform: translateX(0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        -o-transform: translateX(-10px)
    }

    20%,
    40%,
    60%,
    80% {
        -o-transform: translateX(10px)
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0)
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px)
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px)
    }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake
}

@-webkit-keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0)
    }

    40% {
        -webkit-transform: translateY(-30px)
    }

    60% {
        -webkit-transform: translateY(-15px)
    }
}

@-moz-keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -moz-transform: translateY(0)
    }

    40% {
        -moz-transform: translateY(-30px)
    }

    60% {
        -moz-transform: translateY(-15px)
    }
}

@-o-keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -o-transform: translateY(0)
    }

    40% {
        -o-transform: translateY(-30px)
    }

    60% {
        -o-transform: translateY(-15px)
    }
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        transform: translateY(0)
    }

    40% {
        transform: translateY(-30px)
    }

    60% {
        transform: translateY(-15px)
    }
}

.easing-long {
    -webkit-transition: all 1.2s ease-out;
    -moz-transition: all 1.2s ease-out;
    -ms-transition: all 1.2s ease-out;
    -o-transition: all 1.2s ease-out;
    transition: all 1.2s ease-out
}

.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce
}

 @-webkit-keyframes tada {
    0% {
        -webkit-transform: scale(1)
    }

    10%,
    20% {
        -webkit-transform: scale(0.9) rotate(-3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale(1.1) rotate(3deg)
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale(1.1) rotate(-3deg)
    }

    100% {
        -webkit-transform: scale(1) rotate(0)
    }
} 

 @-moz-keyframes tada {
    0% {
        -moz-transform: scale(1)
    }

    10%,
    20% {
        -moz-transform: scale(0.9) rotate(-3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -moz-transform: scale(1.1) rotate(3deg)
    }

    40%,
    60%,
    80% {
        -moz-transform: scale(1.1) rotate(-3deg)
    }

    100% {
        -moz-transform: scale(1) rotate(0)
    }
}

@-o-keyframes tada {
    0% {
        -o-transform: scale(1)
    }

    10%,
    20% {
        -o-transform: scale(0.9) rotate(-3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -o-transform: scale(1.1) rotate(3deg)
    }

    40%,
    60%,
    80% {
        -o-transform: scale(1.1) rotate(-3deg)
    }

    100% {
        -o-transform: scale(1) rotate(0)
    }
}

@keyframes tada {
    0% {
        transform: scale(1)
    }

    10%,
    20% {
        transform: scale(0.9) rotate(-3deg)
    }

    30%,
    50%,
    70%,
    90% {
        transform: scale(1.1) rotate(3deg)
    }

    40%,
    60%,
    80% {
        transform: scale(1.1) rotate(-3deg)
    }

    100% {
        transform: scale(1) rotate(0)
    }
}

.tada {
    -webkit-animation-name: tada;
    -moz-animation-name: tada;
    -o-animation-name: tada;
    animation-name: tada
} 

@-webkit-keyframes swing {

    100%,
    20%,
    40%,
    60%,
    80% {
        -webkit-transform-origin: top center
    }

    20% {
        -webkit-transform: rotate(15deg)
    }

    40% {
        -webkit-transform: rotate(-10deg)
    }

    60% {
        -webkit-transform: rotate(5deg)
    }

    80% {
        -webkit-transform: rotate(-5deg)
    }

    100% {
        -webkit-transform: rotate(0deg)
    }
}

@-moz-keyframes swing {
    20% {
        -moz-transform: rotate(15deg)
    }

    40% {
        -moz-transform: rotate(-10deg)
    }

    60% {
        -moz-transform: rotate(5deg)
    }

    80% {
        -moz-transform: rotate(-5deg)
    }

    100% {
        -moz-transform: rotate(0deg)
    }
}

@-o-keyframes swing {
    20% {
        -o-transform: rotate(15deg)
    }

    40% {
        -o-transform: rotate(-10deg)
    }

    60% {
        -o-transform: rotate(5deg)
    }

    80% {
        -o-transform: rotate(-5deg)
    }

    100% {
        -o-transform: rotate(0deg)
    }
}

@keyframes swing {
    20% {
        transform: rotate(15deg)
    }

    40% {
        transform: rotate(-10deg)
    }

    60% {
        transform: rotate(5deg)
    }

    80% {
        transform: rotate(-5deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

.swing {
    -webkit-transform-origin: top center;
    -moz-transform-origin: top center;
    -o-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing
}



@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px)
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-20px)
    }

    100% {
        opacity: 1;
        -o-transform: translateX(0)
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    -moz-animation-name: fadeInLeft;
    -o-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}


body {
    background-image: url(../images/bckg/pattern-brushed.png)
}

#header nav ul .current-menu-item a:hover span,
#header nav ul .current-menu-item span,
#header nav:after,
.bar .progress,
.btn,
.portfolio-nav a.button:hover,
button,
h2.caption span,
html input[type=button],
input[type=reset],
input[type=submit],
ul.personal-info .title {
    background:#0075D6
}

h2.caption span:after,
ul.personal-info .title:after {
    border-left-color:#0075D6
}

#filters li,h1,h2,h3,h4,h5,h6 {
    font-family: Rokkitt,serif
}


#filters .current a,
.history-unit,
.map iframe,
.media-box .mask .title,
.portfolio-field h3,
.portfolio-title h2,
input:focus,
span.label.primary,
textarea:focus {
    border-color:#0075D6
}

#header nav ul li.current-menu-item a,
.btn,
.btn-send,
.btn:hover,
a.btn,
a.btn:hover,
a.btn:link,
a.btn:visited,
a.btn:visited:hover,
h2.caption span,
ul.personal-info .title {
    color: #fff
}



#header nav ul:after,
#header nav ul:before {
    border-color: rgba(0, 0, 0, .4)
}

#header nav ul span {
    background: rgba(0, 0, 0, .4)
}

#header nav ul span:after,
#header nav ul span:before {
    border-bottom-color: rgba(0, 0, 0, .4)
}

#header nav ul a {
    color: #fff
}

#header nav ul .current-menu-item a {
    color: #000
}



#header nav ul span:before {
    border-right-color: rgba(0, 0, 0, .9)
}

#header nav ul span:after {
    border-left-color: rgba(0, 0, 0, .9)
}

h1 {
    font-family: "Patua One", serif
}

.span4 h2{
    transform: scale(1, .9);
    line-height: 1.4em;
}


.hidden{
    display: none;
}